.content {
  margin: 10px;
  border: 1px solid #8b8b8b;
  padding: 20px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}

.inputs input {
  color: #212529;
}

.buttons {
  margin: 20px 0 10px 0;
}

ul {
  padding: 0;
  margin-top: 10px;
}

ul li {
  list-style: none;
  text-align: center;
  word-wrap: break-word;
  padding: 5px 0;
}
